<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <input type="text" [(ngModel)]="name">

      <h1>{{ name }}</h1>
      <!-- Two binding example -->
      <p>
        Start editing to see some magic happen :)
      </p>
      <hr>
      <app-servers></app-servers>
      <!--Common approach-->
      <!--<div app-servers></div> attriibute selector-->
      <!-- <div class="app-server"><div> class selector-->
      <hr>
      <app-warning-alert></app-warning-alert>
      <alert-success-alert></alert-success-alert>
      <hr>
      <app-assignment2></app-assignment2>
    </div>
  </div>
</div>